table{
    border:1px solid grey ;
    border-collapse: collapse;
    text-align: center;
width: 100% ;
}
th,td{
    border:1px solid grey;
    border-collapse: collapse;
    width: 20%

}
th{
    background-color: darkgrey;
}
tr:nth-child(odd){
    background-color: darkgrey;
}
